<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>main</title>
</head>
<body>
    <header>
        <div>
            <a id="logo" href="main1.html">HELLO SHOP</a>
        </div>
        <div>home</div>
        
    </header>
    <!-- -->
    <div id="body">
        <div>HELLO SHOP</div>
        <div class="main">
            <div>
                회원 기능
                <div class="btnArea">
                    <button>회원 가입</button>
                    <button>회원 목록</button>
                </div>
            </div>
            <div>
                상품 기능
                <div class="btnArea">
                    <button>상품 등록</button>
                    <button>상품 목록</button>
                </div>
            </div>
            <div>
                주문 기능
                <div class="btnArea">
                    <button>상품 주문</button>
                    <button>주문 내역</button>
                </div>
            </div>

        </div>
    </di>
</body>
</html>