* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
button {
    width: 300px;
    padding: 20px;
}
.btnArea{
    margin-top: 15px;
}
#logo{
    font-size: 30px;
    font-weight:bold;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color:rgb(91, 161, 91);
}

#body{
    background-color: rgb(252, 252, 244);
    width:80%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#body>div:first-child{
    font-size: 100px;
}
.main>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

